html, body {
  overflow: visible;
}
.mobile_wrap {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
}
.section1 img {
  display: block;
}
.section1 {
  overflow: hidden;
  position: relative;
}
.section1 .section1_swiper {
}
.section1 .swiper-slide {
  position: relative;
}
.section1 .swiper-slide > div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: none;
}
.section1 .swiper-slide .asset_1,.section1 .swiper-slide .asset_2 {
  mix-blend-mode: soft-light;
}
.section1 .swiper-slide .bg {
  position: static;
  transition: .5s;
  opacity: 1;
}
.section1 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section1 .section_fix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
.section1 .section_fix img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 눈내리는 애니메이션 */
@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}
@keyframes snowflakes-fall{
  0%{top:-10%}100%{top:100%}
}
@keyframes snowflakes-shake{
  0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}
}
.snow_animation {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.snowflake{
  width: 16px;
  height: 16px;
  position:absolute;
  top:-10%;
  z-index:9999;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
  -webkit-animation-name:snowflakes-fall,snowflakes-shake;
  -webkit-animation-duration:10s,3s;
  -webkit-animation-timing-function:linear,ease-in-out;
  -webkit-animation-iteration-count:infinite,infinite;
  -webkit-animation-play-state:running,running;
  animation-name:snowflakes-fall,snowflakes-shake;
  animation-duration:10s,3s;
  animation-timing-function:linear,ease-in-out;
  animation-iteration-count:infinite,infinite;
  animation-play-state:running,running
}
.snowflake:nth-of-type(0){
  left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s
}
.snowflake:nth-of-type(1){
  left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s
}
.snowflake:nth-of-type(2){
  left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s
}
.snowflake:nth-of-type(3){
  left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s
}
/* .snowflake:nth-of-type(4){
  left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s
}
.snowflake:nth-of-type(5){
  left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s
}
.snowflake:nth-of-type(6){
  left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s
} */
.snowflake:nth-of-type(4){
  left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s
}
.snowflake:nth-of-type(5){
  left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s
}
.snowflake:nth-of-type(6){
  left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s
}
/*// 눈내리는 애니메이션 //*/
.scroll_container {
  position: relative;
}
.scroll_container .tabs {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 10;
}
.scroll_container .tab {
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #000;
  font-weight: bold;
  font-size: 11px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
  cursor: pointer;
}
.scroll_container .tab.active {
  color: #fff;
}
.scroll_container .tab:nth-child(2n) {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.scroll_container .tab.active::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: url(./images/tab_active.png) no-repeat center / cover;
    z-index: 1;
    pointer-events: none;
    top: 0;
    left: 0;
}
.scroll_container .tab_contents {
  position: relative;
}

.section2 {
  position: relative;
  padding: 60px 0 80px;
}
.section2 .contents {
  position: relative;
}
.section2 .swiper {
  margin-top: 20px;
}
.section2 .swiper-wrapper {}
.section2 .swiper-slide {}
.section2 .bg_wrap  {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.section2 .bg {
}
.sectino2 .bg1 {
  position: relative;
}
.section2 .bg2,
.section2 .bg3,
.section2 .bg4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section2 .bg2,
.section2 .bg3,
.section2 .bg4 {
  opacity: 0;
}

.section2 .section2_header {
  width: 64.17%;
  margin: 0 auto;
}
.section2 .section2_title {
  width: 38.47%;
  margin: 0 auto;
  margin-top: 35px;
}
.section2 .section2_desc {
  width: 82.78%;
  margin: 0 auto;
  margin-top: 7.5px;
}
.section2 .section2_button {
  padding: 0 15px;
  margin-top: 40px;
}

.section3 {
  position: relative;
}
.section3 .section_header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.section3 .section_header img {
  padding-top: 50px;
}
.section3 .bg_wrap {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}
.section3 .bg {
  position: absolute;
  inset: 0;
  opacity: 1;
  z-index: 0;
  transition: opacity 0.6s ease;
  width: 100%;
  height: 100%;
}
.section3 .bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section3 .bg.active {
  opacity: 1;
  z-index: 1;
  animation: fadeIn 0.6s ease forwards;
}
.section3 .bg_main {
  position: relative;
}
.section3 ul li {
  border-bottom: 1px solid #fff;
  opacity: .2;
  padding: 50px 0;
  width: calc(100% - 30px);
  margin: 0 auto;
  transition: opacity .2s;
}
.section3 ul li img {
  height: 62px;
}
.section3 ul li:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.section3 ul li.active {
  opacity: 1;
}

.section3 .scroll_zone {
  position: relative;
  /* padding-top: 100vh; */
  padding-bottom: 50vh;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}


.section4 {
  position: relative;
}
.section4 .part_wrap {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.section4 .part_wrap {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section4 .part_wrap .part_header {}
.section4 .part1 {
  margin-top: 40px;
  padding: 0 15px;
}
.section4 .part1 .text_set {
  margin-top: 20px;
}
.section4 .part2 {
  margin-top: 60px;
}
.section4 .part2 .text_set {
  padding: 0 15px;
  margin-top: 20px;
}
.section4 .part2 .img_set {
  position: relative;
}
.section4 .part2 .img_set .pointer {
  top: 67.8%;
  bottom: 26.8%;
  left: 33.75%;
  right: 59.58%;
}
.section4 .part3 {
  margin-top: 60px;
}
.section4 .part3 .img_set {
  position: relative;
}
.section4 .part3 .img_set .pointer {
  top: 63.78%;
  bottom: 30.89%;
  left: 30.69%;
  right: 62.64%;
}
.section4 .part3 .text_set {
  padding: 0 15px;
  margin-top: 20px;
}
.section4 .part3 {}

.section4 .bg_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.section4 .bg_wrap .bg1 {
  position: relative;
  width: 100%;
}
.section4 .bg_wrap .bg2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.section4 .bg_wrap .bg3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.section4 .bg_wrap .bg2,
.section4 .bg_wrap .bg3 {
  opacity: 0;
}
.section4 .pointer {
  position: absolute;
  width: 24px;
  height: 24px;
  display: block;
}
.section4 .pointer .img2 {
  display: none;
}
.section4 .pointer.active .img1 {
  display: none;
}
.section4 .pointer.active .img2 {
  display: block;
}
.section4 .pointer::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  animation: wave 2s infinite;
  transform-origin: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section4 .pointer.active::after {
  display: none;
}
.section4 .popup_product_detail {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 15px;
  padding-bottom: 15px;
}
.section4 .pointer.active + .popup_product_detail {
  display: block;
}
@keyframes wave {
  0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
  }
  /* 50% {
    opacity: 1;
  } */
  100% {
      transform: translate(-50%, -50%) scale(1.5);
      opacity: 0;
  }
}

.section4 {}
.section4 .video_wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}
.section4 .video_wrap video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section4 .video_wrap .img_video_toggle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  display: flex;
  justify-content: center;
}
.section4 .img_video_play,
.section4 .img_video_pause {
  width: 50%;
  display: none;
}
.section4 .video_wrap .img_video_toggle.video_pause .img_video_pause {
  display: block;
}
.section4 .video_wrap .img_video_toggle.video_play .img_video_play {
  display: block;
}
.section4 .video_wrap .video_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.section4 .video_wrap .video_bottom img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.section4 .bg2,
.section4 .bg3 {
  opacity: 0;
}

.section5 {
  position: relative;
}
.section5 .contents1 {
  position: relative;
}
.section5 .section5_swiper {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 80px;
}
.section5 .swiper-slide {
  display: flex;
}
.section5 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section5 .bg_wrap {
  position: relative;
  display: flex;
}
.section5 .bg1 {
  position: relative;
}
.section5 .bg2,
.section5 .bg3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.section5 .bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section5 .bg_top {
  position: absolute;
  top: 60px;
  width: 100%;
}
.section5 .contents2 {
  padding-bottom: 80px;
}


#section2,
#section3,
#section4,
#section5 {
  scroll-margin-top: 80px;
}