.mobile_wrap {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
}

.section1 {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.section1 .section1_swiper {
  height: 100vh;
}
.section1 .swiper-slide {
  position: relative;
}
.section1 .swiper-slide > div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.section1 .swiper-slide .bg {
  position: static;
}
.section1 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section1 .section_fix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
.section1 .section_fix img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 눈내리는 애니메이션 */
@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}
@keyframes snowflakes-fall{
  0%{top:-10%}100%{top:100%}
}
@keyframes snowflakes-shake{
  0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}
}
.snow_animation {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.snowflake{
  position:absolute;
  top:-10%;
  z-index:9999;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
  -webkit-animation-name:snowflakes-fall,snowflakes-shake;
  -webkit-animation-duration:10s,3s;
  -webkit-animation-timing-function:linear,ease-in-out;
  -webkit-animation-iteration-count:infinite,infinite;
  -webkit-animation-play-state:running,running;
  animation-name:snowflakes-fall,snowflakes-shake;
  animation-duration:10s,3s;
  animation-timing-function:linear,ease-in-out;
  animation-iteration-count:infinite,infinite;
  animation-play-state:running,running
}
.snowflake:nth-of-type(0){
  left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s
}
.snowflake:nth-of-type(1){
  left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s
}
.snowflake:nth-of-type(2){
  left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s
}
.snowflake:nth-of-type(3){
  left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s
}
.snowflake:nth-of-type(4){
  left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s
}
.snowflake:nth-of-type(5){
  left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s
}
.snowflake:nth-of-type(6){
  left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s
}
.snowflake:nth-of-type(7){
  left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s
}
.snowflake:nth-of-type(8){
  left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s
}
.snowflake:nth-of-type(9){
  left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s
}
/*// 눈내리는 애니메이션 //*/
.scroll_container {
  position: relative;
}
.scroll_container .tabs {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.scroll_container .tab {
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #000;

}
.scroll_container .tab:nth-child(2n) {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.scroll_container .tab.active::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: url(./images/tab_active.png) no-repeat center / cover;
    z-index: 1;
    pointer-events: none;
    top: 0;
    left: 0;
}
.scroll_container .tab a {
  font-weight: bold;
  font-size: 11px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
}
.scroll_container .tab.active a {
  color: #fff;
}
.section2 {}
.section2 .swiper {}
.section2 .swiper-wrapper {}
.section2 .swiper-slide {}
.section2 .bg_wrap  {
  position: relative;
  overflow: hidden;
}
.section2 .bg {
}
.sectino2 .bg1 {
  position: relative;
}
.section2 .bg2,
.section2 .bg3,
.section2 .bg4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section2 .bg2 {}
.section2 .bg3 {}
.section2 .bg4 {}

.section4 {
  position: relative;
}
.section4 .part_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.section4 .part_wrap {}
.section4 .bg_wrap {}
.section4 .bg_wrap .bg1 {}
.section4 .bg_wrap .bg2 {}
.section4 .bg_wrap .bg3 {}

.section5 {}
.section5 .video_wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}
.section5 .video_wrap video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section5 .video_wrap .img_video_toggle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
}
.section5 .img_video_play,
.section5 .img_video_pause {
  width: 53.5px;
  display: none;
}
.section5 .video_wrap .img_video_toggle.video_pause .img_video_pause {
  display: block;
}
.section5 .video_wrap .img_video_toggle.video_play .img_video_play {
  display: block;
}
.section5 .video_wrap .video_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.section5 .video_wrap .video_bottom img {
  width: 100%;
}

.section6 {
  position: relative;
}
.section6 .section6_swiper {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 80px;
}
.section6 .swiper-slide {
  display: flex;
}
.section6 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section6 .bg_wrap {
  position: relative;
  display: flex;
}
.section6 .bg1 {
  position: relative;
}
.section6 .bg2,
.section6 .bg3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section6 .bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section6 .bg_top {
  position: absolute;
  top: 60px;
  width: 100%;
}
.section7 {
  padding-bottom: 80px;
}