@charset "UTF-8";
/* body {
  overflow-y: auto !important;
} */
.dn {
  display: none !important;
}
.pc {
  display: block !important;
}
.mo {
  display: none !important;
}
.pc_inline {
  display: inline !important;
}
.mo_inline {
  display: none !important;
}
@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
  .mo {
    display: block !important;
  }
  .pc_inline {
    display: none !important;
  }
  .mo_inline {
    display: inline !important;
  }
}

body.black {
	background: #000;
}

body.black #side_right,
body.black #side_left {
	display : none;
}
.container_black * {
	font-family: 'Pretendard', sans-serif;	
}
/* _header */

body.black #header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
  z-index: 99999;
  opacity: 1 !important;
}
body.black #header .h_banner {
	display:none !important;
}
body.black #header,
body.black #header .gnb,
body.black #header .gnb_inner {
    background: #fff;
}
body.black #header .gnb .menu > ul > li .menutit {
	color: #BFBFBF;
}
body.black #header .gnb .menu > ul > li:hover .menutit {
	color: #fff;
}
body.black #header .gnb.ban_fixed {
    border-bottom: 1px solid #000;
}
body.black #header .submenu_wrap {
	background: #000 url(/img/submenu_bg.png) no-repeat 99% bottom;
}
body.black #header .ban_fixed .submenu_in {
	border-top: 1px solid #000;
}
body.black #header .submenu_in .sub_li li a {
	color: #BFBFBF;
}
body.black #header .gnb .menu > ul > li .menutit:after {
    background: #fff;
}
body.black #header .submenu_in .sub_li li a:hover {
	color: #fff;
}
body.black #header .gnb .log_menu li:before {
    opacity: 0.3;
    background: #bfbfbf;
}
body.black #header .gnb .h_logo img {
	display: none !important;
}
body.black #header .gnb .h_logo img.logo_black {
	display: inline-block !important;
}
body.black #header .submenu_in {
    border-top: 2px solid #000;
}









/* _pagination */
.container_black .pagination {
  position: fixed;
  left: 72px;
  /* top: calc((100vh - 97px) / 2 + 97px); */
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  transition: opacity .5s;
}
.container_black .pagination ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container_black .pagination li {
  position: relative;
  font-weight: 500;
  letter-spacing: -0.14px;
  transition: .3s;
  padding-left: 12px;
}
.container_black .pagination li a {
  position: relative;
  font-size: 14px;
  color: rgba(255,255,255,0.2);
}
.container_black .pagination li.on a {
  color: #fff;
  font-weight: bold;
}
.container_black .pagination li a:before {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 100%;
  position: absolute;
  right: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255,255,255,0.2);
}
.container_black .pagination li.on a:before {
  background-color: #fff;
}
.container_black .pagination.disabled {
	opacity: 0;
    pointer-events: none;
}


/* _container */
.container_black {
  position: relative;
  margin-top: 97px;
  min-height: calc(100vh - 97px);
}
.container_black .fixed_content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container_black section {
  width: 100%;
  height: calc(100vh - 97px);
  position: relative;
}
.container_black .fixed_content {
  position: fixed;
  top:97px;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 97px);
}
.container_black .fixed_content > .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container_black .fixed_content > .content > .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;
}
.container_black .fixed_bg {
  background: #000;
  position: fixed;
  top: 97px;
  left: 0;
  width: 100%;
  height: calc(100vh - 97px);
}
.container_black .title_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 100%;
}
.container_black .title_wrap .title {
  margin: 0 auto;
  width: fit-content;
}
.container_black .sub_title_wrap {
  position: relative;
  margin-top: 40px;
  text-align: center;
  overflow: hidden;
  width: 100%;
}
.container_black .title_font {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.4px;
  color: #fff;
}
.container_black .sub_title_wrap .sub_title {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  line-height: 1;
  letter-spacing: -0.24px;
  text-align: center;
  width: 100%;
}
.container_black .sub_title_wrap .sub_title + .sub_title {
  position: absolute;
  top: 0;
  left: 0;
}

/* content1 */
.container_black .content1 .title_wrap {
  z-index: 200;
}
.container_black .content1 .bg,
.container_black .content1 .bg2,
.container_black .content1 .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container_black .content1 .bg {z-index: 1;}
.container_black .content1 .bg2 {z-index: 2;}
.container_black .content1 .mask {z-index: 3;}
.container_black .content1 .mask {
  width: 300%;
  height: 300%;
  mix-blend-mode: multiply;
  animation: section1_animation_start 5.6s ease-in-out forwards
}
@keyframes section1_animation_start {
  0% {
    top: -59.6%;
    left: -140%;
  }
  64.3% { /* 3.6s / 5.6s ≈ 64.3% */
    top: -299%;
    left: 100%;
  }
  100% {
    top: -299%;
    left: 100%;
  }
}
@keyframes section1_animation {
  0% {
    top: 100%;
    left: -300%;
  }
  100% {
    top: -299%;
    left: 100%;
  }
}

/* content2 */
.container_black .content2 {
  position: relative;
}

/* content3 */
.container_black .fixed_content > .content.content3 .bg {
  height: 100%;
}
.container_black .fixed_content > .content.content3 .bg {
  height: 120%;
}
.container_black .content3 .title_wrapper {
  position: absolute;
  top: 50%;
  left: 58.4375%;
  transform: translate(0,-50%);
  display: flex;
  flex-direction: column;
  gap: 130px;
  z-index: 1;
}
.container_black .content3 .title,
.container_black .content3 .category {
  color: rgba(255, 255, 255, 0.1);
}
.container_black .content3 .title {
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  transition: color .5s;
  margin-top: 20px;
}
.container_black .content3 .category {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  transition: color .5s;
}
.container_black .content3 .title_set.on .title {
  color: #fff;
}
.container_black .content3 .title_set.on .category {
  color: rgba(255, 255, 255, 0.4);
}


/* content4 */
.container_black .content4 .title {
  color: #fff;
  line-height: 1.5;
}

/* content5 */
.container_black .content5 .item_wrap {
  position: absolute;
  bottom: 14.526%;
  left: 50.34%;
  transform: translateX(-50%);
}
.container_black .content5 .item_wrap .inner {
  display: flex;
  align-items: flex-end;
}
.container_black .content5 .item {
  position: relative;
  width: fit-content;
  height: fit-content;
}
.container_black .content5 .item .main_image,
.container_black .content5 .item .line {
  opacity: 0;
  transition: .3s;
}
.container_black .content5 .item .line {
  position: absolute;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.container_black .content5 .item .line > div > p {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 1;
}
.container_black .content5 .item .line > div > p + p {
  margin-top: 10px;
}
.container_black .content5 .item .main_image img,
.container_black .content5 .item .line img {
  width: fit-content;
}
.container_black .content5 .item1 {
  transform: translateY(-14.01%);
}
.container_black .content5 .item1 .line {
  left: 28.66%;
  bottom: 86.24%;
}
.container_black .content5 .item2 {
  margin-left: 1.9rem;
}
.container_black .content5 .item2 .line {
  bottom: 100.88%;
  left: 28.94%;
}
.container_black .content5 .item3 {
  transform: translateY(-21.04%);
}
.container_black .content5 .item3 .line {
  left: 22.75%;
  bottom: 86.91%;
}

/* content6 */
.container_black .content6 .sub_title_wrap {
  margin-top: 60px;
}
.container_black .content6 .sub_title {
  font-size: 40px;
  font-weight: 500;
  color: rgba(255,255,255,0.7);
  line-height: 1;
  letter-spacing: 20px;
}


/* content7 */
.container_black .content7 .title {
  opacity: 0;
}

/* content8 */
/* .content .bg_wrap, */
.container_black .content8 .title,
.container_black .content8 .sub_title {
  opacity: 0;
}
.container_black .content8 .bg {
  width: 100%;
  flex: 1;
}
.container_black .content8 .bg1 {
  height: fit-content;
  margin: auto 0 0 0;
}
.container_black .content .bg_wrap2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  opacity: 1;
  display: flex;
}
.container_black .content .bg_wrap2 .bg {
  width: 100%;
  flex: 1;
}

.container_black .content.content8 > .bg.bg1 {
  height: auto;
  top: auto;
  bottom: 0;
}
.container_black .content8 .bg {
  position: relative;
  opacity: 0;
}
.container_black .content8 .bg3,
.container_black .content8 .bg4 {
  opacity: 1;
}
.container_black .content8 .bg_wrap2 {
  transform: translateX(35%);
}
.container_black .content8 .item {
  position: absolute;
}
.container_black .content8 .item1 {
  top: -25%;
  left: 28.625%;
  width: 8.645%;
  min-width: 100px;
}
.container_black .content8 .item2 {
  bottom: -17%;
  right: 29.708%;
  width: 8.645%;
  min-width: 100px;
}
.container_black .content8 .item3 {
  bottom: -21%;
  left: 12.76%;
  width: 20.52%;
}
.container_black .content8 .item4 {
  top: -5%;
  right: 25.052%;
  width: 16.093%;
  z-index: 2;
}
.container_black .content8 .item.pc.item1,
.container_black .content8 .item.pc.item2 {
  transform: translateX(65vw);
}
.container_black .content8 .item.pc.item3,
.container_black .content8 .item.pc.item4 {
  transform: translateX(165vw);
}
.container_black .content8 .item.pc {
  opacity: 0;
}
.container_black .content8 .sub_title1,
.container_black .content8 .sub_title2 {
  opacity: 0;
}
.container_black .content8 .fake_dim {
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
}

/* content9 */
.container_black .content9 .title {
  opacity: 0;
}

/* COLUMN */
.container_black .content10 .bg {
  opacity: 0;
}
.container_black .fixed_content > .content.content10 > .bg.bg3 {
  height: 100%;
}
.container_black .content10 .title {
  width: 628px;
  height: 103px;
}
.container_black .content10 .sub_title {
  opacity: 0;
}
.container_black .content10 .item_wrap {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container_black .content10 .item {
  position: absolute;
}
.container_black .content10 .item1 {
  left: 17.291%;
  top: -6.526%;
}
.container_black .content10 .item2 {
  right: 11.875%;
  bottom: -30.273%;
}
.container_black .content10 .bg3 img {
  height: auto;
  min-height: 100%;
  width: auto;
  min-width: 100%;
  max-width: none;
  max-height: none;
}


/* .content11 */
.container_black .content11 .title {
  opacity: 0;
}
.container_black .content11 .bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .content12 */
.container_black .content12 .title {
  opacity: 0;

}
.container_black .content12 .bg {
  opacity: 0;
}
/* .content13 */
.container_black .content13 .title {
  opacity: 0;
}

/* .content14 */
.container_black .content14 .sub_title {
  opacity: 0;
}
.container_black .content14 .bg {
  opacity: 0;
}
.container_black .content14 .bg > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container_black .content14 .mask {
    position: absolute;
    bottom: 4.5%;
    left: 0;
    width: 100%;
    aspect-ratio: 1920 / 200;
    /* height: 200px; */
    mix-blend-mode: multiply;
    transform: scaleY(.5);
    transform-origin: bottom;
}
.container_black .content14 .mask video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container_black .content14 .bg_wrap2 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container_black .content14 .bg_wrap2 .bg {
  opacity: 1;
  position: relative;
}
.container_black .content14 .bg_wrap2 .bg > img {
  width: auto;
  height: auto;
  max-width: none;
  object-fit: none;
  display: block;
  position: absolute;
  top: 50%;
}

.container_black .content.content15 {
  opacity: 0;
  height: auto;
  padding: 140px 0 300px;
}
.container_black .fake_padding {
  height: calc(100vh - 97px);
}
.container_black .content15 .inner {
  position: relative;
  max-width: 1594px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.container_black .content15 .content_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}
.container_black .content15 h2.title {
  width: 278px;
}
.container_black .content15 .view_more {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  color: #fff;
}
.container_black .content15 .left {
  max-width: 534px;
  min-width: 100px;
}
.container_black .content15 .right {
  max-width: 1208px;
  max-width: 1208px;
  width: 100%;
  min-width: 0;
}
.container_black .content15 .category_head {
  display: flex;
  gap: 80px;
  align-items: center;
}
.container_black .content15 .category_title {
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 1.12px;
  color: #c4c4c4;
}
.container_black .content15 .category_head .category_title + .sub_category::after {
  content: '';
  position: absolute;
  left: -40px;
  width: 2px;
  height: 17px;
  background-color: #fff;
  opacity: .2;
  top: 50%;
  transform: translate(-50%,-50%);
}
.container_black .content15 .category_list {
  width: 100%;
  overflow: hidden;
}
.container_black .content15 .sub_category {
  position: relative;
  display: flex;
  align-items: center;
}
.container_black .content15 .sub_category li > a {
  font-size: 22px;
  font-weight: 500;
  color: rgba(255,255,255,0.2);
  display: inline-block;
}
.container_black .content15 .sub_category li.active > a {
  font-weight: 700;
  color: rgba(255,255,255,1);
}
.container_black .content15 .category_head + .tab_content {
  margin-top: 45px;
  position: relative;
}
.container_black .content15 .tab_content .category_list + .category_list {
  position: absolute;
  top: 0;
  left: 0;
}
.container_black .content15 .tab_content .category_list {
  opacity: 0;
}
.container_black .content15 .tab_content .category_list.show {
  opacity: 1;
  z-index: 2;
}
.container_black .content15 .category_list .swiper-slide > a {
  display: flex;
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
}

.container_black .content15 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container_black .content15 .sub_image {
  transition: opacity .3s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.container_black .content15 .title_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
}
.container_black .content15 .title_wrap .title {
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
}
.container_black .content15 .title_wrap .desc {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
  color: rgba(255,255,255,0.6);
  letter-spacing: -0.8px; 
}
.container_black .content15 .swiper-slide:hover .sub_image {
  opacity: 1;
}
.container_black .content15 .content_box + .content_box {
  margin-top: 100px;
}
.container_black .content15 .category_head .swiper {
  width: 100%;
}
.container_black .content15 .sub_category .swiper-slide {
  width: auto;
}

.container_black .content {
  position: relative;
  opacity: 0;
}

.container_black .toast {
  display: none;
}

.container_black .content1 {z-index: 100;}
.container_black .content2 {z-index: 99;}
.container_black .content3 {z-index: 98;}
.container_black .content4 {z-index: 97;}
.container_black .content5 {z-index: 96;}
.container_black .content6 {z-index: 95;}
.container_black .content7 {z-index: 94;}
.container_black .content8 {z-index: 93;}
.container_black .content9 {z-index: 92;}
.container_black .content10 {z-index: 91;}
.container_black .content11 {z-index: 90;}
.container_black .content12 {z-index: 89;}
.container_black .content13 {z-index: 88;}
.container_black .content15 {z-index: 87;}

/* _footer */


@media (max-width : 1880px) {
  .container_black .content14 .mask {
    bottom: 5.5%;
  }
}
@media (max-width : 1850px) {
  .container_black .content14 .mask {
    bottom: 6.5%;
  }
}
@media (max-width : 1750px) {
  .container_black .content14 .mask {
    bottom: 8.5%;
  }
}
@media (max-width : 1680px) {
  .container_black .content14 .mask {
    bottom: 9.5%;
  }
}
@media (max-width : 1440px) {
  /* 요거랑 */
  .container_black .title_font {
    font-size: 32px;
  }
  .container_black .content1 .title,
  .container_black .content6 .title {
    width: 300px;
  }
  .container_black .content3 .category {
    font-size: 14px;
  }
  .container_black .content3 .title {
    font-size: 32px;
    margin-top: 12px;
  }
  .container_black .content6 .sub_title {
    font-size: 32px;
  }
  .container_black .content6 .sub_title_wrap {
    margin-top: 40px;
  }
  .container_black .content8 .title {
    width: 260px;
  }
  .container_black .sub_title_wrap {
    margin-top: 32px;
  }
  .container_black .content .bg_wrap2.mo {
    display: flex !important;
  }
  .container_black .sub_title_wrap .sub_title {
    font-size: 22px;
  }
  .container_black .content10 .title {
    width: 400px;
    height: auto;
  }
  .container_black .content12 .title {
    width: 300px;
    height: auto;
  }
  .container_black .content14 .title {
    width: 300px;
    height: auto;
  }
  .container_black .content15 .content_head {
    margin-bottom: 80px;
  }
  .container_black .content15 h2.title {
    width: 220px;
  }
  .container_black .content15 .category_title {
    font-size: 24px;
  }
  .container_black .content15 .category_head {
    gap: 60px;
  }
  .container_black .content15 .category_head .category_title + .sub_category::after {
    left: -30px;
  }
  .container_black .content15 .sub_category li > a {
    font-size: 18px;
  }
}
@media (max-width: 1366px) {
  
}
@media (max-width: 1280px) {
  .container_black .content10 .item1 {
    width: 66%;
  }
  .container_black .content10 .item2 {
    width: 66%;
  }
  .container_black .content14 .mask {
      bottom: 11.5%;
  }
}
@media (max-width: 1024px) {

}
@media (max-width: 989px) {
  /* 요거 */
  .container_black .content8 .item1 {
    width: 13.645%;
  }
  .container_black .content8 .item2 {
    right: 9.708%;
    width: 13.645%;
  }
  .container_black .content8 .item3 {
    left: 10.76%;
    width: 24.52%;
  }
  .container_black .content8 .item4 {
    right: 20.052%;
    width: 18.093%;
  }
  .container_black .content10 .item1 {
    left: 18.291%;
    top: -4.526%;
  }
  .container_black .content10 .item2 {
    right: 11.875%;
    bottom: -12.273%;
  }
}
@media (max-width: 767px) {
  /* _pagination */
  .container_black .pagination {
    width: 100%;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    transform: none;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    height: auto;
    background: #000;
  }
  .container_black .pagination ul {
    display: inline-flex;
    flex-direction: row;
    gap: 0;
    width: max-content;
  }
  .container_black .pagination li {
    width: fit-content;
    position: relative;
    font-weight: 500;
    letter-spacing: -0.14px;
    transition: .3s;
    padding-left: 12px;
    padding: 0px 20px;
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    height: 70px;
  }
  .container_black .pagination li a:before {
    right: calc(100% + 7px);
  }
  .container_black .progress {
    display: none;
    height: 2px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .container_black .progress .bar {
    display: none;
    background-color: #fff;
    height: 100%;
    width: 0%;
  }
	body.black #header .gnb .all_menu img{
		display: none;
	}
	body.black #header .gnb .all_menu img.ham_black {
		display: block !important;
	}





  /* toast */
  .container_black .toast {
    /* opacity: 0; */
    position: fixed;
    bottom: 100px;
    width: calc(100% - 35px);
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);
    background-color: rgba(26, 26, 26, 0.9);
    border-radius: 4px;
    display: block;
  }
  .container_black .toast::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid rgba(26, 26, 26, 0.9);
  }
  .container_black .toast .inner {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 14px 10px;
  }
  .container_black .toast .icon {
    width: 12px;
    height: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container_black .toast .icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container_black .toast ul {
    overflow: hidden;
  }
  .container_black .toast li {
    font-size: 14px;
    letter-spacing: -0.14px;
    color: #fff;
  }
  .container_black .fixed_bg,  
  .container_black .fixed_content {
    top: 61px;
    height: calc(100vh - 61px - 72px);
  }
	.container_black {
	    position: relative;
	    margin-top: 61px;
	    min-height: calc(100vh - 61px - 72px);
	}




  .container_black .sub_title_wrap {
    margin-top: 20px;
  }
  .container_black .content6 .sub_title_wrap {
    margin-top: 25px;
  }
  .container_black .title_font {
    font-size: 24px;
    letter-spacing: -0.24px;
  }
  .container_black .sub_title_wrap .sub_title {
    font-size: 16px;
    line-height: 1;
    letter-spacing: normal;
  }

  .container_black .content1 .title {
    width: 228px;
    height: 38px;
  }
  .container_black .content3 .category {
    font-size: 14px;
  }
  .container_black .content3 .title_wrapper {
    left: 30px;
    gap: 100px;
  }
  .container_black .content3 .title_set .title {
    font-size: 28px;
  }

  .container_black .content5 .item_wrap {
    bottom: auto;
    top: 50%;
    left: calc(50% - 78.5px);
    transform: translate(0%,-50%) translateY(-40px);
  }
  .container_black .content5 .item_wrap .inner {
    gap: 40px;
  }
  .container_black .content5 .item {
    margin: 0;
  }
  .container_black .content5 .item1 {
    transform: none;
  }
  .container_black .content5 .item2 img{
    transform: translateY(20%);
  }
  .container_black .content5 .item3  img {
    transform: translateY(40%);
  }
  .container_black .content5 .item .line {
    display: none;
  }
  .container_black .content5 .item1 .main_image {
    width: 157px;
  }
  .container_black .content5 .item2 .main_image {
    width: 155.5px;
  }
  .container_black .content5 .item3 .main_image {
    width: 157px;
  }
  .container_black .content5 .bg img {
    object-fit: inherit;
  }
  .container_black .content5 .item_title {
    position: absolute;
    top: 100%;
    width: 157px;
    margin-top: 40px;
    overflow: hidden;
  }
  .container_black .content5 .item_title > div {
    opacity: 0;
  }
  .container_black .content5 .item_title > div + div {
      position: absolute;
      opacity: 0;
      width: 100%;
      top: 0;
      opacity: 0;
  }
  .container_black .content5 .item_title > div > p {
    color: #fff;
    font-size: 16px;
    letter-spacing: -0.16px;
    font-weight: 500;
    text-align: center;
  }
  .container_black .content5 .item_title > div > p + p {
    margin-top: 8px;
  }

  .container_black .content6 .title {
    width: 215px;
    height: auto;
  }
  .container_black .content6 .title_wrap .sub_title {
    font-size: 25px;
    letter-spacing: 12.5px;
  }

  .container_black .content8 .title {
    width: 142px;
  }
  .container_black .content.content8 > .bg.bg1 {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .container_black .content8 .bg_wrap2 {
    display: block;
    transform: none;
    width: 100%;
    height: 200%;

    transform: translateY(0%);
  }
  .container_black .content8 .bg_wrap2 .bg3,
  .container_black .content8 .bg_wrap2 .bg4 {
    height: 50%;
  }
  .container_black .content8 .bg_wrap2 .bg4 {
    position: absolute;
    top: 0;
  }
  .container_black .content8 .item1 {
    top: -9%;
    left: -5.375%;
    width: 58.645%;
    min-width: auto;
  }
  .container_black .content8 .item2 { /* 20250807수정*/
    top: 24%;
    left: unset;
    width: 58.645%;
    height: auto;
    right: 0%;
  }
  .container_black .content8 .item2 img { /* 20250807수정*/
    height: auto;
  }
  .container_black .content8 .item3 {
    top: 73%;
    left: 2%;
    width: 31%;
    min-width: auto;
    height: fit-content;
  }
  .container_black .content8 .item3 img {/* 20250807수정*/
    height: auto;
  }
  .container_black .content8 .item4 {
    top: 95%;
    left: auto;
    width: 24.645%;
    min-width: auto;
    right: -2%;
  }
  .container_black .content10 .item_wrap {
  }
  .container_black .content10 .title {
    width: 209.5px;
    height: auto;
  }
  .container_black .content10 .item1 { /* 20250807수정*/
    right: -45%;
    top: 41.528%;
    left: auto;
    width: fit-content;
    height: auto;
    max-width: 355px;
    width: 80%;
    transform: translateY(-50%);
  }
    .container_black .content10 .item2 {/* 20250807수정*/
      right: auto;
      bottom: 33%;
      left: -41%;
      top: auto;
      max-width: 392px;
      width: 80%;
      transform: translateY(50%);
    }
  .container_black .content10 .bg3 img {
    height: calc(100% + 100px);
  }

  .container_black .content12 .title {
    width: 170px;
    height: auto;
    margin: 0 auto;
  }
  .container_black .content14 .title {
    width: 168px;
    height: auto;
  }
  .container_black .content14 .mask {
    bottom: 29.5%;
    transform: scaleY(1);
  }
  .container_black .content14 .bg_wrap2 .bg > img {
    object-fit: cover;
    width: calc(100% + 100px);
  }

  .container_black .content15 {
    height: auto;
    padding: 120px 0 120px;
  }
  .container_black .content15 .inner {
    position: relative;
    padding: 0;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0;
  }
  .container_black .content15 .content_head {
    margin: 0 0 50px;
  }
  .container_black .content15 h2.title {
    width: 150px;
    height: 25px;
    padding: 0 17.5px;
    display: flex;
    align-items: center;
  }
  .container_black .content15 .view_more {
    font-size: 16px;
    text-underline-offset: 3px;
    text-align: center;
    margin-top: 60px;
  }
  .container_black .content15 .left {
    display: none; 
  }
  .container_black .content15 .right {
    max-width: 1208px;
    max-width: 1208px;
    width: 100%;
    min-width: 0;
  }
  .container_black .content15 .mo_main_category ul {
    display: flex;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    overflow-x: auto;
  }
  .container_black .content15 .mo_main_category li {
    position: relative;
    width: calc(100% / 3);
    flex-shrink: 0;
    text-align: center;
    color: #fff;
    opacity: 0.3;
    letter-spacing: 0.3px;
    line-height: 1;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
    padding: 22px 0;
  }
  .container_black .content15 .mo_main_category li + li::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 1px;
    height: 8.5px;
    background-color: rgba(255,255,255,0.2);
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .container_black .content15 .mo_main_category li.on {
    opacity: 1;
  }
  .container_black .content15 .category_head {
    display: none;
  }
  .container_black .content15 .category_list .grid_set {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 10px;
  }
  .container_black .content15 .category_list .swiper-slide > a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    aspect-ratio: auto;
  }
  .container_black .content15 .sub_image {
    opacity: 1;
    background-color: #000;
    transition: none;
    position: static;
    height: auto;
    margin-top: 10px;
  }
  .container_black .content15 .title_wrap {
    position: static;
    transform: none;
    width: 100%;
    text-align: center;
  }
  .container_black .content15 .title_wrap .title {
    font-size: 16px;
  }
  .container_black .content15 .title_wrap .desc {
    margin-top: 7px;
    font-size: 14px;
    font-weight: normal;
    color: rgba(255,255,255,0.4);
    letter-spacing: -0.35px; 
  }
  .container_black .content15 .content_box + .content_box {
    margin-top: 0;
  }

  .container_black .mo_sub_category {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .container_black .mo_sub_category ul {
    display: none;
    padding: 0 17.5px;
    overflow-x: auto;
  }
    .container_black .mo_sub_category ul.active {
      display: flex;
    }
  .container_black .mo_sub_category li {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.2);
    padding: 20px 15px;
    cursor: pointer;
  }
  .container_black .mo_sub_category li.on {
    color: #fff;
    border-bottom: 2px solid #fff;
  }
  .container_black .content15 .content_box {
    display: none;
    padding: 0 17.5px;
  }
  .container_black .content15 .content_box.active {
    display: block;
  }
}
@media (max-width: 480px) {
  .container_black .content14 .mask {
    bottom: 28.5%;
    transform: scaleY(1);
  }
}




