@font-face {
  font-family: 'Uncut';
  src: url('../font/UncutSans-Bold.woff2') format('woff2'),
       url('../font/UncutSans-Bold.woff') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Uncut';
  src: url('../font/UncutSans-Semibold.woff2') format('woff2'),
       url('../font/UncutSans-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Uncut';
  src: url('../font/UncutSans-Medium.woff2') format('woff2'),
       url('../font/UncutSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Uncut';
  src: url('../font/UncutSans-Regular.woff2') format('woff2'),
       url('../font/UncutSans-Regular.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Uncut';
  src: url('../font/UncutSans-Light.woff2') format('woff2'),
       url('../font/UncutSans-Light.woff2') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sirba";
  src: url("https://db.onlinewebfonts.com/t/ae8076956bf317b754547efc4d40da85.eot");
  src: url("https://db.onlinewebfonts.com/t/ae8076956bf317b754547efc4d40da85.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/ae8076956bf317b754547efc4d40da85.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/ae8076956bf317b754547efc4d40da85.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/ae8076956bf317b754547efc4d40da85.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/ae8076956bf317b754547efc4d40da85.svg#Sirba W01 Regular")format("svg");
}

* {
  font-family: 'Sirba', sans-serif;
}
body{
  -ms-overflow-style: none;
}
  
body::-webkit-scrollbar {
  display: none;
}
 
body.oh {
  height: 100vh;
  overflow: hidden;
}
.dn {
  display: none;
}
img {
  width: 100%;
  vertical-align: middle;
}
.page_w {
  max-width: 1920px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.flex.jcc {
  justify-content: center;
}
.flex.aic {
  align-items: center;
}
.flex.jcsb {
  justify-content: space-between;
}

#header * {
  font-family: 'Uncut', sans-serif;
}
#header {
  position: fixed;
  padding: 0 4rem;
  width: 100%;
  top: 22px;
  height: 56px;
  z-index: 1010;
  opacity: 0;
  transition: opacity .3s;
  overflow: hidden;
}
#header.opa1 {
  opacity: 1;
}
#header .wrap {
  opacity: 1;
  transition: opacity .3s, transform .5s;
} 
#header.hide .wrap {
  opacity: 0;
  transition: opacity .3s, transform .5s;
  transform: translateY(-100%);
}
#header .sns_wrap {
  position: relative;
  margin-left: 65px;
  gap: 30px;
}
#header .sns_wrap::before {
  content: 'I';
  display: block;
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255, 0.2);
  left: -30px;
  width: 5px;
  text-align: center;
  line-height: 1.3;
}
#header .chatbot {
  margin-left: 30px;
}
.logo {
  width: 72px;
}
#header .gnb a,
#header .sns_wrap a,
#header .chatbot a {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}
#header .gnb {
  gap: 30px;
}
#header .youtube a::before {
  content: '';
  background: url(../image/youtube.png) no-repeat center / cover;
  display: inline-block;
  margin-right: 8px;
  width: 17px;
  aspect-ratio: 17/12;
}
#header .insta a::before {
  content: '';
  background: url(../image/insta.png) no-repeat center / cover;
  display: inline-block;
  margin-right: 8px;
  width: 12px;
  aspect-ratio: 1/1;
}
#header .chatbot a {
  background-color: #C11521;
  width: 120px;
  height: 36px;
  border-radius: 4px;
}
#header .chatbot a::before {
  content: '';
  background: url(../image/chatbot.png) no-repeat center / cover;
  display: inline-block;
  margin-right: 4px;
  width: 16px;
  aspect-ratio: 1/1;
}












#intro {
  position: fixed;
  z-index: 1000;
  background: rgba(235, 232, 224, 1);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#intro .img_set {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


#container {
  position: relative;
}
#container.on {
  z-index: 1001;
}
.insert_arrow {
  position: absolute;
  top: 22px;
  left: calc(100% + 10px);
  display: inline-block;
  width: 25px;
  height: 25px;
}
.insert_arrow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section {
  background-color: rgba(0, 0, 0, 0.1);
}
/* section01 S */
.section01 {
  position: relative;
  height: 100vh;
  clip-path: polygon(30% 20%, 70% 20%, 70% 80%, 30% 80%);
}
.section01 .marquee_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-11.5%,-50%,0)
}
.section01 .marquee {
  gap: 175px;
  padding-right: 175px;
}
.section01 .marquee .text {
  font-size: 200px;
  color: #fff;
  white-space: nowrap;
  text-transform: uppercase;
}
.section01 .marquee_wrap.on {
  animation: marqueeAnimation 30s linear infinite;
}
@keyframes marqueeAnimation {
  0% {
    transform: translate3d(-11.5%,-50%,0)
  }
  100% {
    transform: translate3d(-61.5%,-50%,0)
  }
}
.section01 .btn_refresh {
  position: absolute;
  width: 103px;
  height: 36px;
  right: 40px;
  bottom: 30px;
  cursor: pointer;
}
.section01 .sticker {
  position: absolute;
}
.section01 .sticker.main_center {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.section01 .video_set {
  width: 100%;
  height: 100%;
}
.section01 .video_set video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* section01 E */

/* section02 S */
.section02 {
  position: relative;
  overflow: hidden;
}
.section02 canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.section02 .wrap {
  padding: 176px 40px;
}
.section02 .tit {
  color: #C11521;
  font-size: 90px;
  line-height: 1.3;
  position: relative;
  width: fit-content;
}
.section02 .desc {
  font-family: 'Uncut', sans-serif;
  color: #C11521;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
}
.section .left {
  margin-top: 50px;
}
.section02 .right {
  gap: 20px;
}
/* section02 E */

/* section03 S */
.section03 .video_wrap {
  position: relative;
  aspect-ratio: 1920/640;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.section03 .video_wrap canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
  touch-action: pan-y;
  background-color: transparent;
  outline: none !important;
  border: none;
  pointer-events: none;
}
.section03 .custom_cursor {
  position: fixed;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s;
  width: 101px;
  height: 36px;
  border-radius: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  border: 1px solid #B4926C66;
  background: rgba(180, 146, 108, 0.4);
  font-family: 'Uncut', sans-serif;
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  font-size: 16px;
  will-change: transform;
  z-index: 9999;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
}
.section03 .video_wrap .txt_set {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 100%;
  z-index: 10;
}
.section03 .video_wrap .txt_set .tit {
  font-size: 60px;
  color: #fff;
  line-height: 1.3;
}
.section03 .video_wrap .txt_set .desc {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Uncut', sans-serif;
  color: #fff;
  margin-top: 10px;
  line-height: 1.3;
}
.section03 .marquee_wrap {
  position: relative;
  margin-top: 10px;
  gap: 10px;
}
.section03 .marquee {
  will-change: transform;
}
.section03 .marquee_wrap ul {
  gap: 10px;
}
.section03 .marquee li {
  width: 360px;
  aspect-ratio: 360/300;
  flex-shrink: 0;
}
.section03 .marquee li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* section03 E */

/* section04 S */
.section04 {
  background-color: #fff;
}
.section04 .wrap {
  padding: 173px 40px 160px;
}
.section04 .tit {
  font-size: 90px;
  line-height: 1.3;
  color: #C11521;
  position: relative;
  width: fit-content;
  cursor: pointer;
}
.section04 .custom_cursor {
  position: fixed;
  width: 131px;
  height: 40px;
  border-radius: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  border: 1px solid #B4926C66;
  background: rgba(180, 146, 108, 0.4);
  font-family: 'Uncut', sans-serif;
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  will-change: transform;
  z-index: 9999;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  font-size: 18px;
  text-transform: uppercase;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s;
}
.section04 .category_list {
  gap: 30px;
}
.section04 .category_list .category {
  color: #D4D4D4;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.3;
  cursor: pointer;
}
.section04 .category_list .category.active {
  color: #C11521;
}
.section04 .product_list {
  margin-top: 2px;
  gap: 20px;
}
.section04 .product_list .item {
  width: 25%;
}
.section04 .product_name {
  font-family: 'Uncut', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: #000;
}

.section04 .product_option_list {
  margin-top: 16px;
  gap: 4px;
}
.section04 .product_option {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 5.5px 10px;
  font-family: 'Uncut', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.7);
}
.section04 .thumbnail {
  position: relative;
  aspect-ratio: 445/520;
  background-color: #F7F6F3;
  overflow: hidden;
}
.section04 .thumbnail_bg {
  width: 100%;
  height: 100%;
  position: relative;
}
.section04 .desc {
  margin-top: 12px;
}
.section04 .thumbnail .product_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}
.section04 .circle {
  position: absolute;
  background: rgba(235, 232, 224, 1);
  border-radius: 50%;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
  pointer-events: none;
  aspect-ratio: 1/1;
}
.section04 .circle.show {
  transform: scale(1);
  opacity: 1;
}
.section04 .circle1 {width: 80px;top: 21px;left: 23px;}
.section04 .circle2 {width: 65px;top: 108px;right: 33px;}
.section04 .circle3 {width: 284px;top: 55px;left: 54px;}
.section04 .circle4 {width: 49px;top: 226px;left: 30px;}
.section04 .circle5 {width: 215px;top: 198px;right: -42px;}
.section04 .circle6 {width: 441px;left: -29px;bottom: -181px;}
/* section04 E */














.section05 {
  position: relative;
  aspect-ratio: 1920/950;
}
.section05 .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.section05 .alphabet_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.section05 .alphabet_wrap .wrap {
  gap: 10px;
}
.section05 .alphabet {
  cursor: pointer;
}
.section05 .play_jongga {
  position: absolute;
  left: 40px;
  bottom: 17px;
  color: #fff;
  font-family: 'Uncut', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
}
.section05 .thumbnail_list {
  position: absolute;
  gap: 10px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 17px;
}
.section05 .thumbnail_list .thumbnail {
  cursor: pointer;
}
.section05 .btn_set {
  position: absolute;
  right: 27px;
  bottom: 17px;
  gap: 16px;
}
.section05 .btn_refresh,
.section05 .btn_download {
  cursor: pointer;
}
.section01 .custom_cursor,
.section05 .custom_cursor {
  position: fixed;
  width: 159px;
  height: 36px;
  border-radius: 34px;
  background: rgba(180, 146, 108, 0.4);
  border: 1px solid rgba(180, 146, 108, 0.4);
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  font-family: 'Uncut', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  text-transform: uppercase;
}