.bottom_dock {
    background-color: #fff;
    padding: 7px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    border-top: 1px solid #E6E7EB;
}

.bottom_dock ul {
    display: flex;
}

.bottom_dock ul li {
    flex: 1;
}

.bottom_dock ul li a,
.bottom_dock ul li button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.bottom_dock .icon {
    width: 27px;
    height: 27px;
}

.bottom_dock .icon svg,
.bottom_dock .icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom_dock .text {
    font-weight: 600;
    font-size: 10px;
    line-height: 1.5;
    letter-spacing: -0.4px;
    color: #80838a;
}


@media (min-width : 1024px) {
    .bottom_dock {
        display: none;
    }
}