:root {
    --main-color: #335CFF;
    --signage-color: #335CFF;
    --gift-color: #66c3cc;
    --utong-color: #f39800;
}

.content_box {
    max-width: 1340px;
    padding: 0 30px;
    margin: 0 auto; 
}

.has_swiper_content_box {
    max-width: 1340px;
    padding: 0 30px;
    margin: 0 auto;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 80px auto;
    max-width: 1340px;
    padding: 0 30px;
}
.divider::after {
    content: '';
    background-color: #edeef0;
    width: 100%;
    height: 100%;
    display: block;
}

.pc {
    display: block !important;
}
.pc.flex {
    display: flex !important;
}
.mo {
    display: none !important;
}
.mo.flex {
    display: none !important;
}

@media (max-width: 767px) {
    .content_box {
        padding: 0 15px;
    }
    .has_swiper_content_box {
        padding: 0;
    }
    .divider {
        margin: 50px auto;
        padding: 0 15px;
    }
    .pc {
        display: none !important;
    }
    .pc.flex {
        display: none !important;
    }
    .mo {
        display: block !important;
    }
    .mo.flex {
        display: flex !important;
    }
}