footer {
    padding: 41px 0 50px;
    background-color: #f4f5f7;
}
footer *,
footer a:link{
    font-family: "Pretandard";
}

.footer_inner {
    max-width: 1340px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

footer .category {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer .category ul {
    margin-left: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 18px;
}

footer .category ul li {
    position: relative;
}
footer .category ul li a {
    display: inline-block;
    white-space: nowrap;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.7px;
    text-align: left;
    color: #000;
    opacity: 0.6;
}

footer .category ul li + li::before {
    content: "";
    position: absolute;
    right: calc(100% + 8px);
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 1px;
    opacity: 0.2;
    background-color: #000;
}

footer .left_cont .info {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3px;
    align-items: center;
    margin-top: 20px;
}

footer .left_cont .info + .info {
    margin-top: 4px;
}

footer .left_cont .info li {
    position: relative;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.7px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}

footer .left_cont .info li + li {
    margin-left: 12px;
}

footer .left_cont .info li + li::before {
    content: '';
    position: absolute;
    left: -6px;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 1px;
    opacity: 0.2;
    background-color: #000;
}

footer .left_cont .info li.no_divider {
    margin-left: 5px;
}

footer .left_cont .info li.no_divider::before {
    display: none;
}

footer .left_cont .business_certificate {
    cursor: pointer;
    border: 0;
    background-color: #e9ecf2;
    opacity: .9;
    padding: 3px 7px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.65px;
    text-align: left;
    color: rgba(84, 119, 255, .9);
}

footer .left_cont .business_infomation {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    padding: 1px 4.5px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.65px;
    text-align: left;
    color: rgba(0, 0, 0, 0.4);
    background-color: #e8e9eb;
}

footer .right_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .sns_list {
    display: flex;
    margin-top: 20px;
    gap: 5px;
}

footer .sns_list li {
    width: 38px;
    height: 38px;
}

footer .sns_list li img.hover {
    display: none;
}

footer .sns_list li:hover img.default {
    display: none;
}

footer .sns_list li:hover img.hover {
    display: block;
}

footer .copyright {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.64;
    color: rgba(0, 0, 0, 0.3);
}

footer .btn_group .button {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 100px;
    border-radius: 6px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.7px;
    color: rgba(0, 0, 0, 0.6);
}

footer .btn_group .button:hover{
    color: #3c62fa;
}
footer .btn_group .button:hover svg path{
    fill: #3c62fa;
}
footer .btn_group .button:hover svg path.centers{
    fill: #fff;
}

footer .flex_group {
    display: flex;
    gap: 8px;
}

footer .address_list {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
footer .address_list li {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.7px;
    color: rgba(0, 0, 0, 0.5);
}
/* family_site */
footer .family_site {
    position: relative;
}

footer .family_btn {
    border-radius: 6px;
    background-color: #fff;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    width: 230px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

footer .family_site .family_btn svg {
    transform: rotate(0) translateY(-25%);
}

footer .family_site_list {
    border: 1px solid #F4F5F7;
    border-bottom: 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    position: absolute;
    bottom: 100%;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    display: none;
}
footer .family_site.open .family_site_list {
    display: block;
}

footer .family_site_list li a {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    background-color: #fff;
    padding: 8.5px 20px;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}

footer  .family_site li a:hover {
    background-color: #EFF0F2;
}

footer .family_site.open .family_btn svg {
    transform: rotate(180deg) translateY(25%);
}