footer {
    height: 296px;
    background-color: #f4f5f7;
    width: 100%;
    display: flex;
    min-width: var(--over-width-order-calc);
}
.main footer{
    min-width: var(--over-width-calc);
    display: flex;
    
}
footer *,
footer a:link{
    font-family: "Pretandard";
}

footer .max-1180 {
    padding: 46px 0;
    margin-left: max(0px, calc((100vw - 1195px) / 2));
}

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .container .cates {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer .container .cates ul {
    margin-left: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 18px;
}

footer .container .cates ul li {
    position: relative;
}
footer .container .cates ul li a {
    display: inline-block;
    white-space: nowrap;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.7px;
    text-align: left;
    color: #000;
    opacity: 0.6;
}

footer .container .cates ul li+li::before {
    content: "";
    position: absolute;
    right: calc(100% + 8px);
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 1px;
    opacity: 0.2;
    background-color: #000;
}

footer .container .left .info {
    column-gap: 12px;
    margin-top: 23px;
}

footer .container .left .info02,
footer .container .left .info {
    align-items: center;
}

footer .container .left .info02 li,
footer .container .left .info li {
    position: relative;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.7px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
footer .container .left .info02{
    margin-top: 4px;
}

footer .container .left .info li:last-child::before {
    display: none;
}

footer .container .left .info li+li::before {
    content: "";
    position: absolute;
    right: calc(100% + 5px);
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

footer .container .left .business_certificate {
    cursor: pointer;
    border: 0;
    background-color: #e9ecf2;
    opacity: .9;
    padding: 3px 7px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    margin-left: -7px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.65px;
    text-align: left;
    color: rgba(84, 119, 255, .9);
}

footer .container .left .business_infomation {
    margin-left: 5px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    padding: 1px 4.5px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.65px;
    text-align: left;
    color: rgba(0, 0, 0, 0.4);
    background-color: #e8e9eb;
}

footer .container .left .info03 {
    gap: 4px;
    margin-top: 4px;
}

footer .container .left .info03 li {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.7px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}

footer .container .left .info03 li svg {
    margin-left: 3px;
}

footer .container .left .info03 li.on svg {
    margin-left: 3px;
    transform: rotate(180deg);
}

.copyright {
    margin-top: 19px;
    font-size: 14px;
    line-height: 1.64;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}

footer .container .right .btn_group .button {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    border-radius: 6px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -0.7px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}
footer .container .right .sns_family_box .btn_group .button {
    height: 38px;
}
footer .container .right .sns_family_box .btn_group .button > span {
    margin-left: -1px;
}
footer .container .right .flr.top {
    gap: 8px;
    justify-content: flex-end;
}
footer .container .right .flr.top .btn_group {
    gap: 5px;
}
footer .container .right .flr.top .btn_group .button:first-child {
    justify-content: flex-start;
    padding-left: 9.5px;
    box-sizing: border-box;
}
footer .container .right .videoLink {
    display: flex;
}
footer .container .right .videoLink img {
    width: 100%;
    height: 100%;
}

footer .container .right .videoLink:hover,
footer .container .right .btn_group .button:hover{
    color: #3c62fa;
}
footer .container .right .videoLink:hover svg path,
footer .container .right .btn_group .button:hover svg path{
    fill: #3c62fa;
}
footer .container .right .btn_group .button:hover svg path.centers{
    fill: #fff;
}

footer .container .right .sns_family_box {
    position: relative;
    column-gap: 8px;
    margin-top: 31px;
    justify-content: flex-end;
}

footer .container .right .sns_group {
    position: absolute;
    right: 100%;
    margin-right: 15px;
    column-gap: 5px;
}

footer .container .right .sns_group li {
    width: 38px;
    height: 38px;
}

footer .container .right .sns_group li a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

footer .container .right .sns_group li a img {
    width: 100%;
    height: 100%;
}

footer .container .right .sns_group .sns_items img.hover {
    display: none;
}

footer .container .right .sns_group .sns_items:hover img.default {
    display: none;
}

footer .container .right .sns_group .sns_items:hover img.hover {
    display: block;
}

footer .container .right .sns_family_box .select_box {
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

footer .container .right .sns_family_box .select_box .selectd_txt {
    cursor: pointer;
    border-radius: 6px;
    background-color: #fff;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    width: 230px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

footer .container .right .sns_family_box .select_box .selectd_txt svg {
    margin-left: 91px;
    transform: rotate(0) translateY(-25%);
}

footer .container .right .sns_family_box .select_box .family_site {
    border: 1px solid #F4F5F7;
    border-bottom: 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    position: absolute;
    bottom: 100%;
    width: 100%;
    left: -1px;
    background-color: #fff;
}

footer .container .right .sns_family_box .select_box .family_site li a {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    background-color: #fff;
    padding: 8.5px 20px;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}

footer .container .right .sns_family_box .select_box .family_site li a:hover {
    background-color: #EFF0F2;
}

footer .container .right .sns_family_box .select_box.on {
    overflow: visible;
}

footer .container .right .sns_family_box .select_box.on .selectd_txt svg {
    transform: rotate(180deg) translateY(25%);
}

footer .container .right .sns_family_box .select_box.on .selectd_txt {
    border-radius: 6px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}