/* 상단 배너 */
@import url(./top_banner.css);
/* 플로팅박스 */
@import url(./floating_box.css);

/* 헤더 */
header {
    width: 100%;
}
.header_main {
    padding: 35px 0 40px;
    display: flex;
    justify-content: center;
}
.header_main_inner {
    max-width: 1340px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header_main .left_cont {
    gap: 35px;
    display: flex;
    align-items: center;
}
.header_main .service_switch {
    position: relative;
    border-radius: 45px;
    background-color: #f4f5f7;
    display: flex;
}
.header_main .service_switch::before {
    content: '';
    width: 1px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(-50%, -50%);
}
.header_main .service_switch button {
    padding: 8.5px 13px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.7px;
    border-radius: 45px;
}
.header_main .service_switch button.active {
    background-color: #3369ff;
    color: #fff;
}
.header_main .right_cont {
    display: flex;
    gap: 20px;
    align-items: center;
}
.header_main .header_util {
    display: flex;
    column-gap: 6px;
}
.header_main .header_util .btn {
    padding: 6px 13px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.7px;
    color: #000;
    border: 1px solid #000;
    border-radius: 7px;
    border: solid 1px #edeef0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_main .header_util .btn.active {
    border-color: #335cff;
    color: #fff;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.7px;
    border-radius: 7px;
    background-color: #335cff;
}
.header_main .header_util .btn.icon {
    width: 34px;
    height: 34px;
    padding: 0;
}

.header_main .header_util .basket {
    position: relative;
}
.header_main .header_util .basket img {
    width: 17px;
    height: 17px;
}

.header_main .header_util .basket .cnt_box {
    padding: 0 4.5px;
    position: absolute;
    bottom: 3.4px;
    left: 50%;
    width: fit-content;
    border-radius: 8.2px;
    background-color: #335cff;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: -0.48px;
    text-align: center;
    color: #fff;
}

.header_main .search_cont {
    display: flex;
    border-bottom: 1px solid #000;
    gap: 10px;
    align-items: center;
    padding-bottom: 3px;
}
.header_main .search_cont input {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.56px;
    border: none;
}
.header_main .search_cont input:focus,
.header_main .search_cont input:active,
.header_main .search_cont input:focus-visible {
    outline: none;
    border: none;
}
.header_main .search_cont input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}
.header_main .search_cont button {
    flex-shrink: 0;
}

/* 헤더 gnb */
.gnb {
    padding-bottom: 14px;
    position: relative;
    /* border-bottom: 1px solid #e6e7eb; */
    display: flex;
    justify-content: center;
}
.gnb_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1340px;
    padding: 0 30px;
    width: 100%;
}
.gnb .left_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 25px;
}
.gnb_list {
    display: none;
    gap: 25px;
    align-items: center;
}
.gnb_list.active {
    display: flex;
}
.gnb_list li {
    position: relative;
}
.gnb_list li a {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.8px;
}
.gnb_list li:hover a {
    color: #335cff;
}
.gnb .right_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 6px;
}
.gnb .left_cont .ham {
    background-color: #f0f3ff;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4.7px;
    width: 36px;
    height: 36px;
    position: relative;
    cursor: pointer;
}
.gnb .left_cont .ham .on{
    display: none;
}
.gnb .left_cont .ham.on .on{
    display: block;
}
.gnb .left_cont .ham.on .default{
    display: none;
}
.gnb .gnb_list li .chip {
    border-radius: 5px;
    background-color: #f0f3ff;
    position: absolute;
    bottom: calc(100% + 4px);
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.65px;
    text-align: left;
    color: #5477ff;
    padding: 2px 8.5px;
}
.gnb .gnb_list li .chip::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: calc(100% - 4.5px);
    transform: rotate(45deg) translateX(-50%);
    border-radius: 1px;
    background-color: #f0f3ff;
}
.gnb .right_cont .btn {
    padding: 6px 9.5px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.7px;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(244, 245, 247, 1);
    border-radius: 7px;
}
.gnb .right_cont .btn:hover {
    background-color: #f4f5f7;
    color: #3c62fa;
}
.gnb .right_cont .drop_down {
    position: relative;
}
.gnb .right_cont .drop_down button {
    display: flex;
    z-index: 9;
    flex-direction: row;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.gnb .right_cont .drop_down.on {
    color: #3c62fa;
}
.gnb .right_cont .drop_down ul {
    display: none;
    padding: 11px 13px;
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    width: max-content;
    z-index: 99;
    border-radius: 7px;
    background-color: #F4F5F7;
}
.gnb .right_cont .drop_down.active ul {
    display: block;
}
.gnb .right_cont .drop_down li + li{
    padding-top: 5px;
}
.gnb .right_cont .drop_down a{
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.7px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}
.gnb .right_cont .drop_down li:hover a {
    color: rgba(51, 92, 255, .8);
    font-weight: bold;
}
.gnb .right_cont .btn.active {
    opacity: 1;
    background-color: #f0f3ff;
    color: rgba(60, 98, 250, 1);
    border: 1px solid transparent;
}
.gnb .right_cont .btn.active:hover{
    border: 1px solid #3c62fa;
    background-color: #f0f3ff;
    color: #3c62fa;
}

/* 탭메뉴 */
header .gnb .menu_wrap {
    /* display: none; */
    z-index: 99;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    border-top: 1px solid #e6e7eb;
    border-bottom: 1px solid #e6e7eb;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

header .gnb .menu_wrap.on {
    display: block;
    box-shadow: 0px 3px 5px 0px #c8c8c8db;
}

header .gnb .menu_wrap .menu_inner {
    height: 100%;
    max-width: 1340px;
    width: 100%;
    padding: 0 30px;
}

header .gnb .menu_wrap .menu_inner {

    width: 100%;

}

header .gnb .menu_wrap .menu_inner .category {
    display: none;
    grid-template-columns: repeat(7, 1fr);
}

header .gnb .menu_wrap .menu_inner .category.on {
    display: grid;
}

header .gnb .menu_wrap .menu_inner .category .items {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #EDEEF0;
}
header .gnb .menu_wrap .menu_inner .category .items:last-child{
    border-right: 1px solid #e6e7eb;
}
header .gnb .menu_wrap .menu_inner .category .items.line_none {
    border-right: 0;
}

header .gnb .menu_wrap .menu_inner .category .items:first-child {
    border-left: 1px solid #e6e7eb;
}

header .gnb .menu_wrap .menu_inner .category .items ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header .gnb .menu_wrap .menu_inner .category .items ul:first-child {
    height: 100%;
}

header .gnb .menu_wrap .menu_inner .category .items ul li {
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -0.7px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    width: fit-content;
}
header .gnb .menu_wrap .menu_inner .category .items ul li:hover {
    color: #335cff;
    font-weight: 500;
}
header .gnb .menu_wrap .menu_inner .category .items ul li.new::before {
    position: absolute;
    left: calc(100% + 3px);
    top: 50%;
    width: 14px;
    height: 14px;
    transform: translateY(-50%);
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Crect%20width%3D%2214%22%20height%3D%2214%22%20rx%3D%223%22%20fill%3D%22%23FF7373%22/%3E%3Cpath%20d%3D%22M8.599%203.7h1.44V10H8.842L5.7%206.175V10H4.26V3.7h1.206l3.132%203.825V3.7z%22%20fill%3D%22%23fff%22/%3E%3C/svg%3E");
}
header .gnb .menu_wrap .menu_inner .category .items .item {
    padding: 16px 16px 50px;
    min-height: 285px;
}
header .gnb .menu_wrap .menu_inner .category .items .item h4 {
    font-weight: 600;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: -0.75px;
}
header .gnb .menu_wrap .menu_inner .category .items .item h4 + ul {
    margin-top: 15px;
}
header .gnb .menu_wrap .menu_inner .category .items .item ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}