/* 공통 css */
.max-1180 {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.max-1680 {
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

main {
    padding-bottom: 120px;
    min-width: 1180px;
}

/* 메인 섹션 */
.sec01{
    width: 100%;
    min-width: var(--over-width-calc);
}
.sec01 .notice_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.sec01 .notice_box .list_box {
    height: 100%;
}

.sec01 .notice_box .list {
    width: 310px;
    position: absolute;
    top: 15px;
    right: 15px;
    height: calc(100% - 30px);
    z-index: 1;
    border-radius: 13px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sec01 .notice_box .list .notice_txt p.top_tit {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px 12px;
    border-bottom: 1px solid #edeef0;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.8px;
    text-align: left;
    color: #000;
}

.sec01 .notice_box .notice_txt .notice_arrow {
    opacity: 1;
}
.sec01 .notice_box .list .notice_txt ul {
    padding: 11px 16px 16px;
}

.sec01 .notice_box .list .notice_txt ul li {
    cursor: pointer;
    padding: 12.5px 14px;
    font-size: 14px;
    opacity: .7;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.7px;
    text-align: left;
    color: #000;
    border-bottom: 1px solid #f7f8f8;
    transition: padding .2s, background-color .1s;
}

.sec01 .notice_box .list .notice_txt ul li:hover {
    opacity: 1;
    padding-left: 27px;
    background-color: #f0f3ff;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: -0.7px;
    color: #335cff;
    position: relative;
}

.sec01 .notice_box .list .notice_txt ul li::before {
    content: "";
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 50%;
    width: 4px;
    height: 4px;
    transition: opacity 0.2s;
    background-color: #335cff;
}

.sec01 .notice_box .list .notice_txt ul li:hover::before {
    display: block;
    visibility: visible;
    opacity: 1;
}

.sec01 .notice_box .list .notice_icon_box {
    display: flex;
    flex-direction: row;
    padding: 10px 16px 16px;
    column-gap: 6px;
}

.sec01 .notice_box .list .notice_icon_box li {
    cursor: pointer;
    width: 65px;
    height: 65px;
    border-radius: 6px;
    background-color: #f4f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sec01 .notice_box .list .notice_icon_box li .on {
    display: none;
}

.sec01 .notice_box .list .notice_icon_box li:hover {
    background-color: #3c62fa;
}

.sec01 .notice_box .list .notice_icon_box li:hover p {
    color: #fff;
}

.sec01 .notice_box .list .notice_icon_box li:hover .default {
    display: none;
}

.sec01 .notice_box .list .notice_icon_box li:hover .on {
    display: block;
}

.sec01 .notice_box .list .notice_icon_box p {
    margin-top: 4px;
    font-size: 11px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.55px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

.sec01 .notice_box .list .notice_icon_box p .specQuote{
    position: absolute;
    top: 4px;
    right: 4px;
}

.sec01 .notice_box .list .notice_icon_box li p .specQuote_on{
    display: none;
}

.sec01 .notice_box .list .notice_icon_box li:hover p .specQuote_default{
    display: none;
}
.sec01 .notice_box .list .notice_icon_box li:hover p .specQuote_on{
    display: block;
}

.sec01 .swiper-slide {
    width: 1180px;
    height: 480px;
    border-radius: 22px;
    overflow: hidden;
}

.sec01 .swiper-slide img {
    object-fit: cover;
    height: 100%;
}

.sec01 .swiper-slide img {
    object-fit: cover;
    height: 100%;
}

.swiper.type01 .swiper-pagination-fraction {
    width: fit-content;
    bottom: 20px;
    left: 20px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1px;
    text-align: left;
    color: #fff;
    padding: 3.5px 13px;
}

.swiper-pagination-total,
.swiper-pagination-current {
    color: #fff;
}

.swiper.type01 .type01_pagination {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.sec06,
.sec04,
.sec03 {
    padding-top: 113px;
    padding-bottom: 80px;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.sec05{
    padding-top: 113px;
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.sec06 {
    border-bottom: 0;
}

.tit_box {
    position: relative;
}

.tit_box h3.tit {
    font-size: 34px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.7px;
    text-align: left;
    color: #000;
}

.tit_box p.tit_badge_lft {
    width: max-content;
    position: absolute;
    bottom: calc(100% + 5px);
    left: 0;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.65px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    padding: 4px 8px;
    border-radius: 5.5px;
    background-color: #f0f3ff;
}

.tit_box.tc {
    position: relative;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

.tit_box.tc h3.tit {
    text-align: center;
    width: fit-content;
}

.tit_box.tc p.tit_badge_lft {
    left: 50%;
    transform: translateX(-50%);
}

.sec02 {
    margin-top: 35px;
}

.sec02 .shadow_box {
    padding: 21px 21px 21px 60px;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.04);
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 57px;
}

.sec02 .shadow_box .left {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.sec02 .shadow_box .left h4 {
    column-gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.1px;
    text-align: left;
    color: #000;
    vertical-align: top;
}

.sec02 .shadow_box .left .sub_tit {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.7px;
    text-align: center;
    color: #000;
}

.sec02 .shadow_box .right {
    flex: 1;
    display: flex;
    flex-direction: row;
    column-gap: 12px;
}

.sec02 .shadow_box .right .btn {
    flex: 1;
    display: flex;
    justify-content: center;
    border-radius: 15.4px;
    padding: 75px 0 15px;
    text-align: center;
    background-color: #f4f5f7;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.8px;
    text-align: center;
    color: #000;
}
.sec02 .shadow_box .right .btn:hover{
    color: #335cff;
}

.sec02 .shadow_box .right .btn img {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.sec03 .swiper.type02 .img_box {
    position: relative;
}
.sec03 .swiper.type02 .img_box img {
    display: block;
}

.sec03 .swiper.type02 .img_box .nums {
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 5.5px;
    background-color: #fff;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.56px;
    text-align: center;
    color: #000;
}

.swiper .info {
    margin-top: 12px;
}

.swiper .info .badge {
    padding: 1px 7px;
    width: fit-content;
    border-radius: 4.7px;
    background-color: #f3f3fc;
    margin-top: 9px;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.52px;
    text-align: left;
    color: #000;
}

.swiper .info .prd_name {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.64px;
    text-align: left;
    color: #000;
}

.info .prd_price {
    margin-top: 12px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.32px;
    text-align: left;
    color: #000;
}

.swiper.swiper.type02 {
    position: relative;
    overflow: visible;
}

.sec05 .swiper-button-next::after,
.sec05 .swiper-button-prev::after,
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
    display: none;
}
.sec05 .swiper-button-next.swiper-button-disabled,
.sec05 .swiper-button-prev.swiper-button-disabled,
.swiper .swiper-button-next.swiper-button-disabled,
.swiper .swiper-button-prev.swiper-button-disabled{
    opacity: 1;
}
.sec05 .swiper-button-next.swiper-button-disabled img,
.sec05 .swiper-button-prev.swiper-button-disabled img,
.swiper .swiper-button-next.swiper-button-disabled img,
.swiper .swiper-button-prev.swiper-button-disabled img{
    opacity: .35;
}

.sec05 .swiper-button-next,
.sec05 .swiper-button-prev,
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
    background-color: #fff;
    border: 1px solid #000;
    width: 35px;
    height: 35px;
    border: 1px solid #EDEEF0;
    border-radius: 50%;
}

.sec05 .swiper-button-prev,
.swiper .swiper-button-prev {
    transform: rotate(180deg);
}

.swiper.type02 .swiper-button-next {
    position: absolute;
    right: 0;
    bottom: calc(100% + 27.7px);
    top: auto;
}

.swiper.type02 .swiper-button-prev {
    position: absolute;
    right: 43px;
    left: auto;
    bottom: calc(100% + 27.7px);
    top: auto;
}

.swiper.type01 .type01_navigation {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
}

.swiper.type01 .swiper-button-next {
    position: absolute;
    left: calc(100% + 13px);
    bottom: 50%;
}

.swiper.type01 .swiper-button-prev {
    position: absolute;
    right: calc(100% + 13px);
    left: auto;
    bottom: 50%;
}

.swiper.type02,
.swiper.type03 {
    position: relative;
    margin-top: 20px;
}

.swiper.type03 .swiper-slide .info {
    position: absolute;
    bottom: 22px;
    left: 26px;
}

.swiper.type03 .swiper-slide .info .prd_name {
    color: #fff;
}
.sec05 .swiper_out_arrow_box{
    position: relative;
}
.sec05 .swiper-button-next {
    position: absolute;
    top: 50%;
    bottom: auto;
    right: auto;
    left: calc(100% + 21px);
}
.sec05 .swiper-button-prev {
    position: absolute;
    top: 50%;
    bottom: auto;
    right: calc(100% + 21px);
    left: auto;
}

@media (max-width:1180px) {
    .sec05 .swiper-button-next {
        position: absolute;
        top: 50%;
        bottom: auto;
        left: auto;
        right: 0;
    }
    .sec05 .swiper-button-prev {
        position: absolute;
        top: 50%;
        bottom: auto;
        right: auto;
        left: 0;
    }
}
.sec06 .discover_more_btn {
    cursor: pointer;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 21px;
    border: solid 1px #dddde5;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    padding: 10.5px 23.5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.sec06 .discover_more_btn .ico_bl {
    position: relative;
    z-index: 1;
    display: block;
}

.sec06 .discover_more_btn .ico_wh {
    position: relative;
    z-index: 1;
    display: none;
}

.sec06 .discover_more_btn:hover .txt {
    position: relative;
    z-index: 1;
    color: white;
}

.sec06 .discover_more_btn:hover .ico_bl {
    display: none;
}

.sec06 .discover_more_btn:hover .ico_wh {
    display: block;
}

.sec06 .discover_more_btn::before {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #335CFF;
    -webkit-clip-path: polygon(0 100%, 100% 400%, 100% 100%, 0 100%);
    clip-path: polygon(0 100%, 100% 400%, 100% 100%, 0 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: -webkit-clip-path .3s cubic-bezier(.22, .31, 0, 1);
    transition: clip-path .3s cubic-bezier(.22, .31, 0, 1);
    transition: clip-path .3s cubic-bezier(.22, .31, 0, 1), -webkit-clip-path .3s cubic-bezier(.22, .31, 0, 1);
    width: 100%;
}

.sec06 .discover_more_btn.-hover::before {
    -webkit-clip-path: polygon(0 150%, 100% 100%, 100% 100%, 0 100%);
    clip-path: polygon(0 150%, 100% 100%, 100% 100%, 0 100%);
}

.sec06 .discover_more_btn:hover::before {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.hover .swiper-slide {
    font-size: 0;
    overflow: hidden;
    position: relative;
}

.sec06 .hover .swiper-slide .info {
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.hover .swiper-slide::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 132.9px;
    opacity: 0.5;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
}

.hover .swiper-slide .info .inner_tit {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.72px;
    text-align: left;
    color: #fff;
}

.hover .swiper-slide .info .inner_cont {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.7px;
    text-align: left;
    color: rgba(255, 255, 255, 0.9);
}

.hover .swiper-slide .info_hover {
    border-radius: 12px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover .swiper-slide .info_hover_inner {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    width: calc(100% - 28px);
    height: calc(100% - 28px);
    display: flex;
    background-color: rgba(255, 255, 255, 0.84);
    border: solid 0.8px #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hover .swiper-slide .info_hover_inner .badge {
    padding: 2px 8px;
    width: fit-content;
    border-radius: 4px;
    background-color: #f0f3ff;
    margin-top: 9px;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    text-align: left;
    color: #335cff;
}

.hover .swiper-slide .info_hover_inner .inner_prd_cont {
    margin-top: 8px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -0.72px;
    text-align: center;
    color: #000;
}

.hover .swiper-slide .info_hover_inner .inner_tit {
    font-size: 19px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.76px;
    text-align: center;
    color: #000;
}

.hover .swiper-slide .info_hover_inner .inner_cont {
    margin-top: 3px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.7px;
    text-align: left;
    color: rgba(0, 0, 0, 0.9);
}

.hover .swiper-slide:hover .info {
    visibility: hidden;
    opacity: 0;
}

.hover .swiper-slide:hover .info_hover {
    visibility: visible;
    opacity: 1;
}

.swiper-slide .swiper_buttons {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: solid 1px #dddde5;
    background-color: #fff;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    display: flex;
    align-items: center;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    /* cursor: pointer;
    margin-top: 12px;
    background-color: #fff;
    background-image: radial-gradient(#335CFF 0, #335CFF 70%, #335CFF00 70%);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 0 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all .3s cubic-bezier(.22, .31, 0, 1); */
}
.swiper-slide .swiper_buttons::before{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #335CFF;
    -webkit-clip-path: polygon(0 100%, 100% 400%, 100% 100%, 0 100%);
    clip-path: polygon(0 100%, 100% 400%, 100% 100%, 0 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: -webkit-clip-path .3s cubic-bezier(.22, .31, 0, 1);
    transition: clip-path .3s cubic-bezier(.22, .31, 0, 1);
    transition: clip-path .3s cubic-bezier(.22, .31, 0, 1), -webkit-clip-path .3s cubic-bezier(.22, .31, 0, 1);
    width: 100%;
}
.swiper-slide .swiper_buttons.-hover::before{
    -webkit-clip-path: polygon(0 150%, 100% 100%, 100% 100%, 0 100%);
    clip-path: polygon(0 150%, 100% 100%, 100% 100%, 0 100%);
}
.swiper-slide .swiper_buttons:hover::before{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.swiper-slide .swiper_buttons .default {
    display: block;
}

.swiper-slide .swiper_buttons .hover {
    display: none;
}

.swiper-slide .swiper_buttons:hover {
    background-size: 120% 120%;
}

.swiper-slide .swiper_buttons:hover .default {
    display: none;
}

.swiper-slide .swiper_buttons:hover .hover {
    z-index: 9;
    display: block;
}

.sec03 .swiper.type02 .img_box,
.sec04 .swiper-slide img,
.sec06 .swiper-slide {
    border-radius: 12px;
    overflow: hidden;
}
.sec05 .swiper-slide {
    border-radius: 10px;
    overflow: hidden;
}