@font-face {
  font-family: 'Uncut';
  src: url('../font/UncutSans-Bold.woff2') format('woff2'),
       url('../font/UncutSans-Bold.woff') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Uncut';
  src: url('../font/UncutSans-Semibold.woff2') format('woff2'),
       url('../font/UncutSans-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Uncut';
  src: url('../font/UncutSans-Medium.woff2') format('woff2'),
       url('../font/UncutSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Uncut';
  src: url('../font/UncutSans-Regular.woff2') format('woff2'),
       url('../font/UncutSans-Regular.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Uncut';
  src: url('../font/UncutSans-Light.woff2') format('woff2'),
       url('../font/UncutSans-Light.woff2') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sirba";
  src: url("https://db.onlinewebfonts.com/t/ae8076956bf317b754547efc4d40da85.eot");
  src: url("https://db.onlinewebfonts.com/t/ae8076956bf317b754547efc4d40da85.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/ae8076956bf317b754547efc4d40da85.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/ae8076956bf317b754547efc4d40da85.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/ae8076956bf317b754547efc4d40da85.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/ae8076956bf317b754547efc4d40da85.svg#Sirba W01 Regular")format("svg");
}

* {
  font-family: 'Sirba', sans-serif;
}

body{
  -ms-overflow-style: none;
  max-width: 36rem;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.1);
}
  
body::-webkit-scrollbar {
  display: none;
}
 
body.oh {
  height: 100vh;
  overflow: hidden;
}
.dn {
  display: none;
}
img {
  width: 100%;
  vertical-align: middle;
}
.page_w {
  max-width: 72rem;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.flex.jcc {
  justify-content: center;
}
.flex.aic {
  align-items: center;
}
.flex.jcsb {
  justify-content: space-between;
}

#header * {
  font-family: 'Uncut', sans-serif;
}
#header {
  position: fixed;
  padding: 0 2rem;
  width: 100%;
  top: 2rem;
  z-index: 1010;
  opacity: 0;
  transition: opacity .3s;
  overflow: hidden;
  max-width: 36rem;
}
#header.opa1 {
  opacity: 1;
}
#header .wrap {
  opacity: 1;
  transition: opacity .3s, transform .5s;
} 
#header.hide .wrap {
  opacity: 0;
  transition: opacity .3s, transform .5s;
  transform: translateY(-100%);
}
#header .nav {
  gap: 1.5rem;
}
#header .hamburger {
  width: 2.7rem;
  height: 1.8rem;
}
#header .hamburger img {
  width: 100%;
  height: 100%;
}
.logo {
  width: 5.3rem;
}
#header .gnb a,
#header .sns_wrap a,
#header .chatbot a {
  font-weight: 600;
  font-size: 1.2rem;
  color: #fff;
}
#header .gnb {
  gap: 3rem;
}
#header .chatbot a {
  background-color: #C11521;
  width: 8.5rem;
  height: 2.35rem;
  border-radius: .2rem;
}
#header .chatbot a::before {
  content: '';
  background: url(../image/chatbot.png) no-repeat center / cover;
  display: inline-block;
  margin-right: .35rem;
  width: 1rem;
  aspect-ratio: 1/1;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  z-index: 1010;
  opacity: 0;
  max-width: 36rem;
  margin: 0 auto;
  transform: translateX(-50%);
}










#intro {
  position: fixed;
  z-index: 1000;
  background: rgba(235, 232, 224, 1);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 36rem;
  margin: 0 auto;
}
#intro .img_set {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  user-select: none;
}


#container {
  position: relative;
  max-width: 36rem;
  margin: 0 auto;
  overflow: hidden;
}
#container.on {
  z-index: 1001;
  background-color: #fff;
}
.insert_arrow {
  position: absolute;
  top: 1.4rem;
  left: calc(100% + .5rem);
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
}
.insert_arrow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* section01 S */
.section01 {
  position: relative;
  height: 100vh;
  clip-path: polygon(30% 20%, 70% 20%, 70% 80%, 30% 80%);
}
.section01 .marquee_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-3.7%, -50%, 0px);
}
.section01 .marquee {
  gap: 8.75rem;
  padding-right: 8.75rem;
}
.section01 .marquee .text {
  font-size: 10rem;
  color: #fff;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: -.4rem;
}
.section01 .marquee_wrap.on {
  animation: marqueeAnimation 30s linear infinite;
}
@keyframes marqueeAnimation {
  0% {
    transform: translate3d(-3.7%,-50%,0)
  }
  100% {
    transform: translate3d(-53.7,-50%,0)
  }
}
.section01 .btn_refresh {
  position: absolute;
  width: 5.15rem;
  height: 1.8rem;
  right: 2rem;
  bottom: 1,5rem;
  cursor: pointer;
  user-select: none;
}
.section01 .sticker {
  position: absolute;
}
.section01 .sticker.main_center {
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}
.section01 .video_set {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.section01 .video_set video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section01 .sticker_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* section01 E */

/* section02 S */
.section02 {
  position: relative;
  overflow: hidden;
}
.section02 canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
.section02 .wrap {
  padding: 8.5rem 0 10rem;
}
.section02 .left {
  padding: 0 2rem;
}
.section02 .right {
  padding: 0 2rem;
  margin-top: 5rem;
}
.section02 .tit {
  color: #C11521;
  font-size: 5.5rem;
  letter-spacing: -.11rem;
  line-height: 1.3;
  position: relative;
  width: fit-content;
  /* 2%는 1rem당 -0.01  */
}
.section02 .desc {
  font-family: 'Uncut', sans-serif;
  color: #C11521;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.3;
  letter-spacing: -0.042rem;
  /* 1rem 당 letter-spacing -0.015rem */
}
/* section02 E */

/* section03 S */
.section03 .video_wrap {
  position: relative;
  aspect-ratio: 720/768;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.section03 .video_wrap .video_set {
  height: 100%;
}
.section03 .video_wrap .video_set video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section03 .video_wrap canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
  touch-action: pan-y;
  background-color: transparent;
  outline: none !important;
  border: none;
  pointer-events: none;
}
.section03 .video_wrap .txt_set {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 100%;
}
.section03 .video_wrap .txt_set .tit {
  font-size: 3rem;
  color: #fff;
  line-height: 1.3;
  letter-spacing: -0.06rem;
  text-transform: uppercase;
  /* 1%는 0.01 */
}
.section03 .video_wrap .txt_set .desc {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: 'Uncut', sans-serif;
  color: #fff;
  margin-top: .65rem;
  line-height: 1.3;
  padding: 0 2.85rem;
  letter-spacing: -0.042rem;
}
.section03 .marquee_wrap {
  position: relative;
  margin-top: .5rem;
  gap: .5rem;
}
.section03 .marquee {
  will-change: transform;
}
.section03 .marquee_wrap ul {
  gap: .5rem;
}
.section03 .marquee li {
  width: 18rem;
  aspect-ratio: 360/300;
  flex-shrink: 0;
}
.section03 .marquee li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* section03 E */

/* section04 S */
.section04 {
  background-color: #fff;
}
.section04 .wrap {
  padding: 8.7rem 0 10rem;
}
.section04 .top_cont {
  padding: 0 2rem;
}
.section04 .tit {
  font-size: 5.5rem;
  line-height: 1.3;
  color: #C11521;
  position: relative;
  width: fit-content;
  cursor: pointer;
  letter-spacing: -.022rem;
}
.section04 .category_list {
  gap: 1.75rem;
  margin-top: 3.1rem;
}
.section04 .category_list .category {
  color: #D4D4D4;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.3;
  cursor: pointer;
  font-family: 'Uncut', sans-serif;
  letter-spacing: -0.045rem;
}
.section04 .category_list .category.active {
  color: #C11521;
}
.section04 .product_list {
  margin-top: 2.5rem;
  padding: 0 2rem;
}
.section04 .product_name {
  font-family: 'Uncut', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.3;
  color: #000;
  letter-spacing: -.039rem;
}

.section04 .product_option_list {
  margin-top: 1.25rem;
  gap: .2rem;
}
.section04 .product_option {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .2rem;
  padding: .2rem .5rem;
  font-family: 'Uncut', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: -.036rem;
}
.section04 .thumbnail {
  position: relative;
  aspect-ratio: 462/540;
  background-color: #F7F6F3;
  overflow: hidden;
}
.section04 .thumbnail_bg {
  width: 100%;
  height: 100%;
  position: relative;
}
.section04 .desc {
  margin-top: 1.1rem;
}
.section04 .thumbnail .product_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}
.section04 .circle {
  position: absolute;
  background: rgba(235, 232, 224, 1);
  border-radius: 50%;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
  pointer-events: none;
  aspect-ratio: 1/1;
}
.section04 .circle.show {
  transform: scale(1);
  opacity: 1;
}
.section04 .circle1 {width: 4rem;top: 1.05rem;left: 1.15rem;}
.section04 .circle2 {width: 3.25rem;top: 5.04rem;right: 1.65rem;}
.section04 .circle3 {width: 14.2rem;top: 2.75rem;left: 2.7rem;}
.section04 .circle4 {width: 2.45rem;top: 11.3rem;left: 1.5rem;}
.section04 .circle5 {width: 10.75rem;top: 9.9rem;right: -2.1rem;}
.section04 .circle6 {width: 22.05rem;left: -1.45rem;bottom: -9.05rem;}

.section04 .swiper-horizontal>.swiper-pagination-progressbar {
  position: relative;
  margin-top: 4rem;
  height: 1px;
}
.section04 .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: rgba(193, 21, 33, 1);
}
/* section04 E */












.sticker-anim {
  position: relative;
  z-index: -1;
}
.section05 .sticker_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section05 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}
.section05 .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.section05 .bg img {
  height: 100%;
  object-fit: cover;
}
.section05 .alphabet_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  user-select: none;
}
.section05 .alphabet_wrap .wrap {
  gap: .5rem;
}
.alphabet.j {
  width: 4.25rem;
}
.alphabet.o {
  width: 5.5rem;
}
.alphabet.n {
  width: 5.6rem;
}
.alphabet.g {
  width: 5.15rem;
}
.alphabet.a {
  width: 5.35rem;
}
.section05 .alphabet {
  cursor: pointer;
  user-select: none;
}
.section05 .play_jongga {
  position: absolute;
  left: 2rem;
  bottom: 3.5rem;
  z-index: 111;
  width: 11.75rem;
}
.section05 .thumbnail_list {
  position: absolute;
  gap: .5rem;
  left: 50%;
  transform: translateX(-50%);
  top: 4rem;
  z-index: 111;
}
.section05 .thumbnail_list .thumbnail {
  cursor: pointer;
  width: 2.65rem;
}
.section05 .btn_set {
  position: absolute;
  right: 2rem;
  bottom: 3.5rem;
  gap: .6rem;
  z-index: 111;
}
.section05 .btn_refresh {
  width: 3rem;
  height: 3rem;
}
.section05 .btn_download {
  width: 8.9rem;
  height: 2.9rem;
}
.section05 .btn_refresh,
.section05 .btn_download {
  cursor: pointer;
}

.section07 {
  position: relative;
  padding-bottom: 38.5rem;
}
.section07 > .wrap {
  padding: 8.5rem 1.6rem 0;
}
.section07 .txt_set {
  width: 23.4rem;
}
.section07 .left {
  font-size: 0;
  position: relative;
  top: 5rem;
}
.section07 .left .img_set {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - .25rem);
  position: relative;
}
.section07 .left .img_set:nth-child(2n) {
  margin-left: .5rem;
}
.section07 .left .img_set:nth-child(n+3) {
  margin-top: 2rem;
}
.section07 .left .img_set:nth-child(5) {
  top: -5rem;
}
.section07 .left .img_set:nth-child(7),
.section07 .left .img_set:nth-child(8) {
  top: -5rem;
}
.section07 .qwer {
  position: absolute;
  width: 32rem;
  height: 38.5rem;
  bottom: -2.8rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.section07 .qwer > .wrap,
.section07 .qwer .depth1 {
  width: 100%;
  height: 100%;
}
.section07 .qwer .depth1 {
  position: relative;
}
.section07 .qwer .depth1 .img1 {
  height: 100%;
}
.section07 .qwer .depth1 .img1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section07 .qwer .depth1 .img2 {
  width: 100%;
}
.section07 .qwer .depth1 .img2 {
  width: auto;
  position: absolute;
  top: 7.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  overflow: hidden;
  width: 13.2rem;
}
.section07 .qwer .depth1 .img3 {
  position: absolute;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  filter: blur(10px);
  z-index: 1;
  width: 30.2rem;
}
.section07 .dim {
  background-color: #000;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}
.section07 .qwer .depth2 {
  height: 100vh;
  background-color: #1F1F1E;
  top: 0;
  left: 0;
  width: 100%;
}
.section07 .qwer .continental {
  position: absolute;
  width: 100%;
  top: 9rem;
  left: 0;
  opacity: 0;
  padding: 0 4rem;
}
.section07 .qwer .continental ul > li {
  height: auto;
  width: fit-content;
  margin-right: 8rem;
}
.section07 .qwer .continental .name {
  font-weight: 400;
  font-size: 4rem;
  line-height: 1.3;
  color: rgba(255, 255, 255, .3);
}
.section07 .qwer .continental .swiper-slide-active .name {
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.section07 .qwer .continental .swiper-slide-active .name::after {
  content: '';
  background: url(../image/symbol.png) no-repeat center/cover;
  display: inline-block;
  width: 1.7rem;
  height: 1.7rem;
  top: .95rem;
  position: absolute;
}
.section07 .qwer .continental .detail {
  margin-top: .5rem;
}
.section07 .qwer .continental .detail > li {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: 'Uncut', sans-serif;
  color: rgba(255, 255, 255, .3);
}
.section07 .qwer .continental .swiper-slide-active .detail > li {
  color: rgba(255, 255, 255, 1);;
}
.section07 .qwer .continental .detail > li:hover {
  display: flex;
  align-items: center;
  color: rgba(231, 34, 48, 1)
}
.section07 .qwer .continental .detail > li:hover::after {
  content: '';
  display: inline-block;
  background: url(../image/arrow_insert.png) no-repeat center/cover;
  width: .5rem;
  height: .5rem;
}
.section07 .qwer .global {
  position: absolute;
  bottom: 0;
  opacity: 0;
}
.ripple_set {
  opacity: 0;
}
.ripple {
  position: absolute;
  display: flex;
  align-items: center;
  font-family: 'Uncut', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  opacity: 0.2;
  transition: .3s;
}
.ripple::before {
  position: absolute;
  right: calc(100% + .4rem);
  content: '';
  display: block;
  background: url(../image/circle.png) no-repeat center/cover;
  width: .4rem;
  height: .4rem;
}
.ripple.active {
  color: rgba(231, 34, 48, 1);
  opacity: 1;
}
.ripple.active::before {
  background: url(../image/symbol_red.png) no-repeat center/cover;
  width: 1.3rem;
  height: 1.3rem;
  right: calc(100% + 1.3);
}
.ripple.asia {
  top: 10%;
  left: 83%;
}
.ripple.europe {
  top: 9%;
  left: 30%;
}
.ripple.america {
  top: 35%;
  left: 16%;
  opacity: 0;
}
.ripple.oceania {
  top: 67%;
  left: 84%;
  opacity: 0;
}
.ripple.africa {
  top: 17%;
  left: 20%;
}
.ripple .circles {
  height: 3.5rem;
  position: absolute;
  width: 3.5rem;
  right: calc(100% + -0.7rem);
}
.ripple.active .circles div {
  animation: growAndFade 3s infinite ease-out;
  background-color: rgba(231, 34, 48, 1);
  border-radius: 50%;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
}
.ripple.active .circles .circle1 {
  animation-delay: 0s;    
}
.ripple.active .circles .circle2 {
  animation-delay: 1s; 
}
.ripple.active .circles .circle3 {
  animation-delay: 2s;
}
@keyframes growAndFade {
  0% {
    opacity: .25;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}







.sticker-box {
  position: absolute;
  width: clamp(6rem, 4.857rem + 3.571vw, 10rem);
  height: clamp(12rem, 9.714rem + 7.143vw, 20rem);
  transform-origin: 50% 75%;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
  will-change: transform, opacity;
  user-select: none;
}
.sticker-box .sticker-front {
  pointer-events: auto;
  /* cursor: grab; */
}
.sticker-box .sticker-front:active {
  /* cursor: grabbing; */
}
.sticker-box img {
  pointer-events: none;
}
.sticker {
  width: clamp(6rem, 4.857rem + 3.571vw, 10rem);
  height: clamp(6rem, 4.857rem + 3.571vw, 10rem);
  position: absolute;
  transition: transform 0.75s ease;
  overflow: hidden;
  will-change: transform;
}
.sticker-front {
  z-index: 1;
}
.sticker-back {
  z-index: 2;
  pointer-events: none;
}
.sticker img {
  width: 100%;
  height: 100%;
  object-fit: contain !important;
  transition: transform 0.75s ease;
  will-change: transform;
}
.sticker-front img {
  transform: translateY(100%);
}
.sticker-box.active .sticker-back img {
  transform: translate3d(0, 100%, 0);
}
.sticker-box.active .sticker-front img {
  transform: translate3d(0, 0, 0);
}
.sticker-box.active .sticker-back {
  transform: translate3d(0, 100%, 0);
}
.sticker-box.active .sticker-front {
  transform: translate3d(0, 100%, 0);
}